/* styles for calculator */

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #4988C4;
    color: #BDE8F5;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;   
    border-radius: 15px;
}

#calculator {
    font-family: arial, sans-serif;
    background-color: #1C4D8D;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #4988C4;
    color: #BDE8F5;
    border-radius: 0px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.185)
}
